body {
  width: 100vw;
  height: 100vh;
  background-color: #bbbbbb;
}
.wrap {
  .fixed_wrap {
    .fixed {
      position: fixed;
      text-align: center;
      background-color: #fff;
      font-weight: 600;
      text-transform: uppercase;
    }
    .fixed_top {
      padding: 10px 0;
      width: 100%;
      top: 0;
      left: 0;
      border-bottom: 2px solid #000;
    }
    .fixed_left {
      width: 36px;
      height: calc(100% - 71.22px);
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      border-right: 2px solid #000;
      z-index: 1;
      span {
        writing-mode: vertical-rl;
        transform: rotate(-180deg);
      }
    }
    .fixed_bottom {
      padding: 10px 0;
      width: 100%;
      bottom: 0;
      right: 0;
      border-top: 2px solid #000;
    }
    .fixed_right {
      width: 36px;
      height: calc(100% - 71.22px);
      top: 50%;
      right: 0;
      transform: translate(0, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      writing-mode: vertical-rl;
      border-left: 2px solid #000;
    }
  }
  .main {
    background-color: #fff;
    width: calc(100% - 72px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 36px auto;
    padding: 0 15px 36px 15px;
    .nav {
      width: 100%;
      ul {
        .nav_item {
          width: 100%;
          border-bottom: 2px solid #000;
          text-align: center;
          text-transform: uppercase;
          padding: 10px 0;
          font-size: 24px;
          font-weight: 600;
        }
      }
    }
    .filter {
      width: 100%;
      padding: 20px 0;
      font-weight: 600;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-transform: uppercase;
      .filter_types {
        display: flex;
        gap: 5px;
        color: #bbb;
        .filter_name-selected {
          color: #000;
        }
      }
    }
    .gallery_wrap {
      width: 100%;
      display: grid;
      gap: 30px;
      padding-bottom: 20px;
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
      .gallery {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-weight: 600;
        img {
          width: 100%;
          object-fit: cover;
          vertical-align: top;
        }
      }
    }
  }
}
