$grey: #cdcdcd;
body {
  background: #dce6d1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #bbbebe;
}

.phone {
  width: 320px;
  height: 90%;
  background-color: $grey;
  box-shadow: 5px 10px 10px rgba($color: #000, $alpha: 0.5);
  border-radius: 10px;
  overflow: hidden;
}

.header {
  padding: 25px 15px 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .header_title {
    text-transform: uppercase;
    font-weight: 600;
  }
  .header_menu_btn,
  .header_cart_btn {
    svg {
      width: 16px;
    }
  }
}
.total {
  background-color: #000;
  padding: 15px;
  color: $grey;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-weight: 600;
  gap: 10px;
  .total_price {
    font-size: 22px;
  }
  .total_sub_title {
    font-size: 14px;
  }
}
.items {
  background-color: #c6caca;
  display: flex;
  flex-direction: column;
  gap: 15px;
  .item {
    background-color: #d7dbdb;
    border-top: 3px solid #000;
    position: relative;
    .item_info {
      padding: 15px;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: flex-start;
      .item_title_wrap {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-weight: 600;
        .item_title {
          font-size: 28px;
        }
        .item_sub_title {
          font-size: 14px;
        }
      }
      .item_price_wrap {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 5px;
        .item_total-price {
          font-size: 24px;
          font-weight: 600;
        }
        .item_piece-price {
          font-size: 14px;
        }
      }
    }
    .item_specs {
      border-top: 3px solid #000;
      border-bottom: 3px solid #000;
      display: flex;
      .spec {
        padding: 20px 15px;
        display: flex;
        font-size: 14px;
        font-weight: 600;
        flex-direction: column;
        justify-content: center;
        &:last-child {
          border-left: 2px solid #000;
        }
      }
    }
  }
}
.item_img {
  position: absolute;
  width: 40%;
  height: 65%;
  border: 3px solid #000;
  right: 15px;
  bottom: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    vertical-align: top;
  }
}
