$gridGap: 5px;
$cellRadius: 12px;
body {
  height: 100%;
  background-color: #7d4aa9;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.wrap {
  max-width: 80%;
  background-color: #000;
  height: 95%;
  padding: 20px;
  .grid {
    height: 100%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: $gridGap;
    .grid_col {
      &:first-child {
        display: grid;
        background-color: #000;
        gap: $gridGap;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1.8fr 1fr;
        .header {
          background-color: #fff;
          grid-column: span 2;
          border-radius: $cellRadius;
          padding: 20px;
          display: grid;
          grid-template-rows: 1fr 3fr 1fr;
          .header_top {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            .logo {
              width: 36px;
              height: 36px;
            }
            .header_reviews_inner {
              display: flex;
              gap: 20px;
              .header_reviews {
                font-size: 18px;
                font-weight: 400;
              }
              .header_label {
                border-radius: $cellRadius;
                background-color: #ffc830;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 12px;
                padding: 5px 10px;
              }
            }
          }
          .header_title {
            font-size: 98px;
            align-self: center;
            justify-self: center;
            font-weight: 900;
          }
          .header_subtitle {
            font-size: 27px;
            font-weight: 600;
            border-top: 2px solid #000;
          }
        }
      }
      &:last-child {
        display: grid;
        gap: $gridGap;
        grid-template-columns: 1fr;
        grid-template-rows: 1.8fr 1fr;
        .sub_grid {
          display: grid;
          gap: $gridGap;
          grid-template-columns: 1.5fr 1fr;
          grid-template-rows: 1.3fr 1fr;
          .nav {
            color: #fff;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 15px;
            text-transform: uppercase;
            .nav_cta {
              font-size: 18px;
            }
            ul {
              display: flex;
              flex-direction: column;
              gap: 30px;
              font-size: 12px;
              .nav-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .point {
                  width: 8px;
                  height: 8px;
                  border-radius: $cellRadius;
                  background-color: #ffc830;
                }
              }
            }
          }
          .grid_cells {
            display: grid;
            gap: $gridGap;
            grid-template-rows: repeat(2, 1fr) 2fr;
            .grid_cell {
              border-radius: $cellRadius;
              font-size: 12px;
              text-transform: uppercase;
              padding: 20px;
              display: flex;
              align-items: center;
              justify-content: space-between;
              &:first-child {
                background-color: #ffc830;
                .point {
                  width: 12px;
                  height: 12px;
                  border-radius: $cellRadius;
                  background: #000;
                }
              }
              &:nth-child(2) {
                justify-content: center;
                background-color: #fff;
                transform: rotateZ(7deg);
                box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.8);
                .logo {
                  width: 24px;
                  height: 24px;
                }
              }
            }
            .grid_cell-cta {
              color: #fff;
              text-transform: uppercase;
              font-size: 18px;
              padding-left: 20px;
              align-self: center;
            }
          }
        }
        .blog-post {
          grid-row: span 2;
          background-color: #fff;
          border-radius: $cellRadius;
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          font-size: 14px;
          .blog-post-top {
            display: flex;
            justify-content: space-between;
            padding: 20px;
            .blog-info {
              display: flex;
              gap: 10px;
              .date {
                width: 40px;
                height: 55px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                border: 1px solid #000;
                border-radius: 20px;
              }
              .profile {
                width: 40px;
                height: 55px;
                border-radius: 20px;
                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 20px;
                  object-fit: cover;
                  vertical-align: top;
                }
              }
            }
            .live_preview_inner {
              display: flex;
              gap: 20px;
              align-items: center;
              justify-content: center;
              .text {
                text-align: end;
                font-weight: 600;
                font-size: 14px;
              }
              .icon {
                background-color: #ffc830;
                padding: 5px;
                border-radius: 20px;
              }
            }
          }
          p {
            width: 100%;
            padding: 20px;
            font-size: 16px;
          }
        }
      }
    }
    .gird_img {
      border-radius: $cellRadius;
      background: url(https://picsum.photos/200/300?random=1) no-repeat center/cover;
    }
  }
}
